.env
!.env.example
.runtime/
model_quantized.onnx_data

backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
frontend/node_modules/
frontend/dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
/.vscode/
*.log
*.pid
